<appSettings>
  <add key="endpoint" value="https://eventsmaster.documents.azure.com:443/" />
  <add key="authKey" value="Peuqk9KC9f7h0tstG392xuNVitBPruGEhu2slHgKV7KHbTKFBnRwDJNAkg9zt8Kdqg1fOPWObm3BC4ig3qTGYw==" />
  <add key="database" value="EventsMaster" />
  <add key="collection" value="Event" />
</appSettings>