<h1>Events</h1>

<p>This component demonstrates fetching event data from the server - in this case hardcoded values in the controller</p>

<p *ngIf="!events"><em>Loading...</em></p>

<table class="table" *ngIf="events">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Location</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.name }}</td>
      <td>{{ event.location }}</td>
      <td>{{ event.eventDate }}</td>
    </tr>
  </tbody>
</table>
