<div class="overlay-content">
  <h1 *ngIf="!this.dialogRef.isEditable">{{event.name}}</h1>
  <label for="name">Name: </label>
  <input id="name" name="name" *ngIf="this.dialogRef.isEditable" [(ngModel)]="event.name" />
  <p *ngIf="!this.dialogRef.isEditable">{{event.description}}</p>
  <label for="description">Description: </label>
  <textarea id="description" *ngIf="this.dialogRef.isEditable" [(ngModel)]="event.description" rows="7" cols="50"></textarea>
  <label for="tickets">Tickets: </label>
  <input id="tickets" *ngIf="this.dialogRef.isEditable" [(ngModel)]="event.tickets"/>
  <label for="image">Image: </label>
  <input type="file" (change)="onFileSelected($event)"/>
  <button *ngIf="this.dialogRef.isEditable" (click)="updateEvent(event)" class="book-button">Save</button>
  <button *ngIf="this.loginService.isLoggedIn" (click)="console()" class="book-button">Book tickets</button>
</div>
