<div>
  <ul class="heroes">
    <li *ngFor="let event of events" (click)="onSelect(event)" [class.selected]="event === selectedEvent">
      <div class="hero-element">
        <div class="badge">{{event.uid}}</div>
        <div class="name">{{event.name}}</div>
        <div class="saying">{{event.description}}</div>
      </div>
    </li>
  </ul>
  <div class="editarea">
    <button (click)="enableAddMode()">Add New Event</button>
    <div *ngIf="selectedEvent">
      <div class="editfields">
        <div>
          <label>id: </label>
          <input [(ngModel)]="selectedEvent.uid" placeholder="id" *ngIf="addingEvent" />
          <label *ngIf="!addingEvent" class="value">{{selectedEvent.uid}}</label>
        </div>
        <div>
          <label>name: </label>
          <input [(ngModel)]="selectedEvent.name" placeholder="name" />
        </div>
        <div>
          <label>description: </label>
          <input [(ngModel)]="selectedEvent.description" placeholder="description" />
        </div>
        <div>
          <label>category: </label>
          <input [(ngModel)]="selectedEvent.category" placeholder="category" />
        </div>
      </div>
      <button (click)="save()">Save</button>
    </div>
  </div>
</div>  
