.book-tickets {
  display: flex;
  flex-wrap: wrap;
}

#ticketTotal {
  margin: 20px;
}

.seat-selection {
  display: inline;
  margin: 3px;
}

.seat-container {
  display: flex;
  justify-content: space-between;
  width: 3%;
}
