<div class="overlay-content">
  <h1 *ngIf="!this.dialogRef.isEditable">{{event.name}}</h1>
  <input *ngIf="this.dialogRef.isEditable" [(ngModel)]="event.name" />
  <p *ngIf="!this.dialogRef.isEditable">{{event.description}}</p>
  <textarea *ngIf="this.dialogRef.isEditable" [(ngModel)]="event.description" rows="7" cols="50"></textarea>
  <input *ngIf="this.dialogRef.isEditable" [(ngModel)]="event.category"/>
  <input *ngIf="this.dialogRef.IsEditable" [(ngModel)]="event.tickets"/>
  <button *ngIf="this.dialogRef.IsEditable" (click)="updateEvent(event)" class="book-button">Save</button>
  <button *ngIf="this.loginService.isLoggedIn" (click)="console()" class="book-button">Book tickets</button>
</div>
