<div>
  <ul class="events">
    <li *ngFor="let event of events" (click)="onSelect(event)" [class.selected]="event === selectedEvent">
      <div class="event-element">
        <div class="id">{{event.id}}</div>
        <div class="name">{{event.name}}</div>
        <div class="description">{{event.description}}</div>
        <button class="edit-button" (click)="onSelect(event)">Edit</button>
        <button class="delete-button" (click)="deleteEvent(event)">Delete</button>
        <button class="show-preview-button" (click)="showPreview(event)">Show Preview</button>
      </div>
    </li>
  </ul>
  <div class="editarea">
    <button (click)="enableAddMode()">Add New Event</button>
    <button (click)="showPreview()">Show Preview</button>
    <div *ngIf="selectedEvent">
      <div class="editfields">
        <div>
          <label>name: </label>
          <input [(ngModel)]="selectedEvent.name" placeholder="name" *ngIf="addingEvent" />
          <label *ngIf="!addingEvent" class="value">{{selectedEvent.name}}</label>
        </div>
        <div>
          <label>description: </label>
          <input [(ngModel)]="selectedEvent.description" placeholder="description" />
        </div>
        <div>
          <label>category: </label>
          <input [(ngModel)]="selectedEvent.category" placeholder="category" />
        </div>
        <div>
          <label>tickets: </label>
          <input [(ngModel)]="selectedEvent.tickets" placeholder="tickets" />
        </div>
      </div>
      <button (click)="save()">Save</button>
    </div>
  </div>
</div>  
