body {
}

.delete-button {
  font-size: 14px;
  font-family: Arial;
  color: white;
  background-color: #e80404;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button {
  font-size: 14px;
  font-family: Arial;
  color: white;
  background-color: #0be00b;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.events {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.events li{
  list-style: none;
  width: 33%;
  margin: 2px 0;
}

.event-element {
  background-color: #c7ced8;
  border-radius: 7px;
  border: 1px solid #c7ced8;
  transition: box-shadow 200ms linear;
}

  .event-element:hover {
    box-shadow: 0 0 5px #cecece;
  }

.event-image {
  height: 300px;
  width: 100%;
  transition: color 0.3s linear;
}

.event-image:hover {
  cursor: pointer
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.name {
  display: inline;
  margin: 5px 5px;
}

.description {
  margin: 3px 7px;
}
