<form class="form-register" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Register</h2>
    <div *ngIf="invalidUsername" class="alert alert-danger">Invalid username - already exists.</div>
    <label for="username" class="">Username</label>
    <input type="email" id="username" name="username" ngModel class="form-control" placeholder="Username" required (focusout)="checkUserNameIsValid($event.target.value)"/>
    <label for="password" class="">Password</label>
    <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required ng-minlength="6" (input)="onPasswordChange($event.target.value)"/>
    <label for="confirmPassword">Confirm Password</label>
    <input [readonly]="!this.passwordEntered" type="password" id="confirmPassword" name="confirmPassword" ngModel class="form-control" placeholder="Confirm Password" required (input)="onConfirmPasswordChange($event.target.value)"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="register" disabled="disabled">Register</button>
  </div>
</form>
