.main-header {
  top: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #222;
  padding: 11px;
}

.account-info a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 5px;
}

  .account-info a:hover {
    color: #cecece;
  }
